.div1 {
    background-color: cornflowerblue;
}
.div1 {
    height: 200px;
}
.div1 . {
    padding: 20px;
    margin: 10px;
}
.div1 {
    text-align: right;
}
.div1 {
    font-size: 40px;
}
.div1 {
    color: white;
}

.div2
{
    margin: 50px;
}
.div2 {
    color: cornflowerblue;
}
.div2 {
    font-size: 20px;
}
.div4 {
    color: orange;
}
.div4 {
    margin: 20px;
}
.div5 {
    margin: 20px;
}
.div6 {
    background-color: #949494;
}
.div6 {
    color: white;
}
.div7 {
    height: 30px;
}
.div7 {
    margin: 20px;
}